<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>WEB PASS</title>
  <link rel="stylesheet" href="../../src/assets/css/style.css">
</head>
<body>

<header>
  <h1>WEB PASS</h1>
  <p>Agenda Digital</p>
</header>

<main style="grid-template-columns: 1fr;">
  <section>
    <h2>Menu</h2>

    <button onclick="location.href='pacientes.html'">
      Cadastro de Pacientes
    </button>

    <button onclick="location.href='atendimentos.html'">
      Agenda de Atendimentos
    </button>
  </section>
</main>


</body>
</html>
